<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home-page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/css/uikit.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-loading-states@2.0.0/loading-states.js"></script>
    <style>
        .last-modified {
            font-size: small;
        }

        a:visited {
            color: blue;
        }

        a:link {
            color: red;
        }
        [data-loading] {
            display: none;
        }
    </style>
</head>
<body>
<nav class="uk-navbar-container">
    <div class="uk-container">
        <div class="uk-navbar">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a hx-get="/home-page" hx-ext="loading-states" hx-target="#Content"><span uk-icon="home"></span></a></li>
                </ul>
            </div>
            <div class="uk-navbar-center">
                <div class="uk-navbar-item">
                    <form hx-get="/new-page" hx-target="#Content" hx-ext="loading-states">
                        <label class="uk-form-label" for="pageName">
                            <input id="pageName" class="uk-input uk-form-width-large" type="text" name="pageName"
                                   placeholder="Type desired page title here">
                        </label>
                        <input type="submit" class="uk-button uk-button-default" value="Add New Page">
                    </form>
                </div>
            </div>
            <div class="uk-navbar-right">
                <div uk-spinner data-loading ></div>
            </div>
        </div>
    </div>
</nav>

<div class="uk-container ">
    <div uk-grid>
        <div id="Content" class="uk-width-4-5" hx-get="/home-page" hx-trigger="load" hx-ext="loading-states"></div>
        
        <div class="uk-width-1-5" id="allPages"> <!-- this is the right bar --></div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.19.4/dist/js/uikit-icons.min.js"></script>
<script>
    var easyMDE;
    
    document.addEventListener("htmx:afterRequest", function (event) {
        if (event.detail.xhr.status >= 400) {
            UIkit.notification(event.detail.xhr.responseText, {status: 'danger'});
            return;
        }
        if (event.detail.pathInfo.responsePath.includes("/new-page") || event.detail.pathInfo.responsePath.includes("/edit")) {
            easyMDE = new EasyMDE({
                insertTexts: {
                    link: ["[", "]()"]
                }
            });
        }
    });

    function copyMarkdownLink(element) {
        element.select();
        document.execCommand("copy");
    }
</script>

</body>
</html>